body{
    background-color: rgb(228, 235, 242);
    font-family: sans-serif, Arial, Helvetica;
    margin: 0;
    padding: 0;
}
header{
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
}
.navigation{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
}
.nav-list{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:50%;
}
ul{
    list-style-type: none;
padding:0;
margin:0;
    }
a{
    color:rgb(17, 18, 18);
    text-decoration: none;
    font-weight: 600;
}
button {
    font-family: sans-serif;
    color: rgb(235, 230, 230);
    font-weight: 700;
    background-color: rgb(17, 18, 18);
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px rgba(55, 50, 50, 0.3);
}
button:hover{
    transform: scale(1.1);
}
.portfolio-section{
    background-image: url("buddha.jpg");
    height: 100vh;
    background-size: contain;
}
.image-section{
    width: 100%;
    height: 100%;
    border:none;
    background-color: rgb(12, 15, 20);
    opacity: 0.6;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#image{
    color:aliceblue;
    font-size: 80px;

}
#imageover{
    color:rgb(241, 242, 243);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 5px;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(polygon.avif);
}

.aboutme{
    text-align: center;
    color:rgb(16, 32, 103);
    
    margin: 40px 20px;
    font-size: 30px;
}
aside{
    display: flex;
    justify-content: center;
    align-items: center;
}
.myphoto{
 border: 5px solid rgb(17, 18, 18);
    border-radius: 50%;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: transform ease-in-out 1s;
    animation: pulse 1.4s infinite alternate;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 10px #353638;
  }
  50% {
    box-shadow: 0 0 20px #353638;
  }
  100% {
    box-shadow: 0 0 30px #353638;
  }
}

.myphoto:hover{
    transform: scale(1.05);
    box-shadow: 25px 25px 25px rgba(0, 0, 0, 0.5);
}
b{
    font-size: 40px;
    font-weight: 700;
    color: rgb(16, 32, 103);
}
div div{
    display: inline-block;
    margin: 0 20px;
}
aside+div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    margin-bottom: 20px;
}
b+p{
    font-weight: lighter;
    font-size: 18px;
    color:rgb(35, 49, 111);
}
section button{
    width: 200px;
    font-size: 20px;
    margin: 10px;
}
section button:hover{
    box-shadow: 0 0 15px rgba(55, 50, 50, 0.5);
}

/* footer */
footer{
    height: 200px;
    background-color: rgb(17, 18, 18);
    color: rgb(235, 230, 230);
    text-align: center;
    padding: 40px 20px;
}
